.homepage-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
    padding-left: 70px;
    padding-top: 40px;
  }
  
  .content-section {
    max-width: 50%;
    margin-right: 20px; /* Add space between text and slideshow */
  }
  
  h1 {
    font-size: 46px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  .info-section {
    margin-top: 10px;
  }
  
  .info-title {
    color: #1E7C6B; /* Teal color */
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  
  p {
    font-size: 26px;
    margin-bottom: 8px;
    margin-top: 0px;
    font-weight: 440;
  }
  
  .join-button {
    background-color: #1E7C6B; /* Teal background */
    color: #fff;
    padding: 22px 34px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .join-button:hover {
    background-color: #155F52;
  }
  
  /* Add this for the slideshow alignment */
 
  .Slideshow{
    max-width: 25%; /* Adjust width of the slideshow */
    height: 100%; /* Adjust height if necessary */
    margin-top: 300px;
    margin-right: 70px;

  }